<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="BatchDriversGroup">
      <section name="GLOBAL_CONFIG" type="System.Configuration.NameValueSectionHandler"/><!-- TODO:-->
      <!-- Sample Batch Program config-->
      <section name="BatchManager_Drivers_SampleBatchProgramDriver" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <BatchDriversGroup>

    <BatchManager_Drivers_SampleBatchProgramDriver>
      <!--
          key="PARAM_NAME" 
          
          When creating Object of Params.BatchParam make sure the [ParamName] Matches to Config [key]
      -->
      <add key="SAMPLE_PARAM_1" value="Input provided by config file- Hello world"></add>
    </BatchManager_Drivers_SampleBatchProgramDriver>
  </BatchDriversGroup>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
